# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
venv/
ENV/
env.bak/
venv.bak/
.ai_doctor-FFM72XUX/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# pipenv
Pipfile.lock

# dotenv
.env

# VS Code
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db

# Audio files
*.mp3
*.wav

# Logs
*.log

# Other
*.sqlite3
*.db
*.pkl
*.h5
*.hdf5
*.mypy_cache/
*.pytest_cache/

# Ignore test outputs
*.out
*.tmp
