[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
groq = "*"
gtts = "*"
elevenlabs = "*"
speechrecognition = "*"
pyaudio = "*"
gradio = "*"
dotenv = "*"
ffmpeg = "*"
pydub = "*"

[dev-packages]

[requires]
python_version = "3.12"
